# Ignorer les fichiers de contrôle de version
.git/
.gitignore

# Ignorer les fichiers temporaires ou inutiles
*.log
logs/
tmp/
cache/
*.tmp

# Ignorer les fichiers de configuration locaux
.vscode/
.idea/

# Ignorer les fichiers d'environnement
# .env
# .env.*
.env.dev
.env.prod

# Ignorer les dépendances de Node.js et PHP
node_modules/
vendor/

# Ignorer les données persistantes Docker (non nécessaire dans le contexte du build)
# mysql_data/
# mongo_data/

# Ignorer les fichiers de build et de distribution
/dist/
/build/
/public/assets/css/main.css
/public/assets/js/*.js

# Ignorer les fichiers spécifiques à Docker
Dockerfile
docker-compose.yml

# Ignorer le fichier lui-même pour éviter de l'inclure dans l'image
.dockerignore
