 # Fichier qui contient les fichiers à ignorer lors du build Docker
 # Ignorer les fichiers de configuration locaux
.env
.env.*

# Ignorer les dossiers de dépendances
node_modules
vendor

# Ignorer les dossiers de contrôle de version
.git
.gitignore

# Ignorer les fichiers de logs et caches
*.log
.cache

# Ignorer les fichiers temporaires
*.tmp
*.temp

# Ignorer les fichiers de configuration IDE
.vscode
.idea

# Ignorer les fichiers d'exécution
.DS_Store
