# Ignorer les fichiers de contrôle de version
.git/
.gitignore

# Ignorer les fichiers temporaires ou inutiles
*.log
logs/
tmp/

# Ignorer les fichiers de configuration locaux
.vscode/
.idea/

# Ignorer le fichier lui-même
.dockerignore
