# Ignorer les fichiers de contrôle de version
.git/
.gitignore

# Ignorer les données persistantes de MongoDB
data/
mongo_data/
*.js

# Ignorer les fichiers temporaires ou inutiles
*.log
logs/
tmp/

# Ignorer les fichiers de configuration locaux
.vscode/
.idea/

# Ignorer les fichiers d'environnement
.env*

# Ignorer le fichier lui-même
.dockerignore
